.work-work {
  gap: 140px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #151515;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  border-bottom-width: 1px;
}
.work-image {
  width: 417px;
  height: 520px;
  object-fit: cover;
}
.work-details {
  flex: 1;
  height: 520px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.work-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.work-text {
  color: rgb(21, 21, 21);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}
.work-text1 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  line-height: 36px;
}
.work-tags {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.work-root-class-name {
  flex: 1;
  height: var(--dl-size-size-medium);
}
@media(max-width: 991px) {
  .work-work {
    gap: 0px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .work-image {
    width: 100%;
  }
  .work-details {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .work-header {
    gap: var(--dl-space-space-unit);
  }
  .work-heading {
    align-items: center;
  }
  .work-text {
    font-size: 24px;
    line-height: 21px;
  }
  .work-text1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.home-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-text {
  color: #ffffff;
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home-company1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-items1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  color: #ffffff;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 12px;
}
.home-title {
  color: rgb(255, 255, 255);
  width: 985px;
  font-size: 30px;
  max-width: 895px;
  align-self: center;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  line-height: 50px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-description {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  align-self: center;
  text-align: justify;
  font-family: Times New Roman;
  line-height: 20px;
}
.home-text07 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text10 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text13 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text16 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text19 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text22 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-video {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-video1 {
  width: 1056px;
  height: 584px;
}
.home-description1 {
  width: 100%;
  height: 540px;
  display: flex;
  max-width: 1280px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-end;
  padding-top: 12px;
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-top-width: 1px;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text24 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-paragraph {
  font-size: 45px;
  font-family: Georgia;
  font-weight: 700;
  line-height: 48px;
}
.home-paragraph1 {
  height: 212px;
  font-size: 32px;
  text-align: justify;
  line-height: 35px;
}
.home-text25 {
  font-size: 16px;
  line-height: 30px;
}
.home-text26 {
  font-size: 16px;
  line-height: 30px;
}
.home-text27 {
  font-size: 16px;
  line-height: 30px;
}
.home-text28 {
  font-size: 16px;
  line-height: 30px;
}
.home-text29 {
  font-size: 16px;
}
.home-text30 {
  font-size: 16px;
  line-height: 30px;
}
.home-text31 {
  font-size: 16px;
  line-height: 30px;
}
.home-text32 {
  font-size: 16px;
  line-height: 30px;
}
.home-button2 {
  width: 361px;
  height: 63px;
}
.home-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-featured {
  width: 100%;
  height: 1890px;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-color: #151515;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-title1 {
  height: 86px;
  font-size: 50px;
}
.home-link1 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-client {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 343px;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home-text34 {
  height: 197px;
  font-size: 32px;
  max-width: 900px;
  line-height: 48px;
}
.home-text35 {
  font-size: 45px;
  font-family: Times New Roman;
  font-weight: 700;
}
.home-text37 {
  font-size: 16px;
}
.home-text38 {
  font-size: 16px;
}
.home-text39 {
  font-size: 16px;
}
.home-text40 {
  font-size: 16px;
}
.home-text41 {
  font-size: 16px;
}
.home-link2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 12px;
  background-color: #151515;
}
.home-header2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 327px;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  border-color: #FFFFFF;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  border-bottom-width: 1px;
}
.home-company2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}
.home-description2 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  max-width: 800px;
  text-align: justify;
  line-height: 20px;
}
.home-text45 {
  color: #ffffff;
  line-height: 36px;
}
.home-text48 {
  color: #ffffff;
  line-height: 36px;
}
.home-text51 {
  color: #ffffff;
  line-height: 36px;
}
.home-client-list {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home-title2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
}
.home-text53 {
  color: rgb(249, 246, 246);
  text-align: justify;
}
.home-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-information {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 60px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-location {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption {
  color: rgb(21, 21, 21);
  font-size: 50px;
  line-height: 60px;
}
.home-value {
  color: rgb(21, 21, 21);
  font-size: 20px;
  max-width: 560px;
  font-style: normal;
  text-align: justify;
  font-family: Times New Roman;
  font-weight: 500;
  line-height: 30px;
}
.home-button4 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-link3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-links1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home-social {
  text-decoration: none;
}
.home-social1 {
  text-decoration: none;
}
.home-social2 {
  text-decoration: none;
}
.home-image2 {
  width: 616px;
  height: 640px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .home-button {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .home-text {
    display: none;
  }
  .home-button1 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text05 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-title {
    font-size: 40px;
    line-height: 36px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text06 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text08 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text09 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text11 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text12 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text14 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text15 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text17 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text18 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text20 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text21 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text23 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-description1 {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text24 {
    gap: var(--dl-space-space-unit);
  }
  .home-paragraph {
    font-size: 18px;
    line-height: 27px;
  }
  .home-paragraph1 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text25 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text26 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text27 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text28 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text29 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text30 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text31 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text32 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text33 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-button2 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-link {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header1 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-link1 {
    display: none;
  }
  .home-client {
    padding-top: var(--dl-space-space-threeunits);
    border-color: transparent;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text34 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text35 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-button3 {
    font-size: 16px;
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home-link2 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-about {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header2 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-company2 {
    font-size: 30px;
    line-height: 27px;
  }
  .home-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text44 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text46 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text47 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text49 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text50 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text52 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-client-list {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header3 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-footer {
    flex-direction: column;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption {
    font-size: 14px;
    line-height: 21px;
  }
  .home-value {
    font-size: 16px;
    line-height: 24px;
  }
  .home-button4 {
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home-link3 {
    font-style: normal;
    font-weight: 500;
  }
  .home-links1 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 320px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-company {
    font-size: 18px;
    line-height: 20px;
  }
  .home-items {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button {
    padding: 12px;
  }
  .home-image1 {
    width: 14px;
    height: 14px;
  }
  .home-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
